@model BookStoreMVC.Models.UserViewModel


<form asp-action="Login" method="post">
    <input asp-for="Email" placeholder="Email" />
    <input asp-for="Password" placeholder="Password" type="password" />
    <button type="submit">Login</button>
    <div>@ViewBag.Error</div>
</form>
